// Name
$name: Pure Mineral Aesthetics;
// Fonts

// Colors
// Earthy Elegance
$mainColor: #8d9683;
$secondaryColor: #f2eae0;
$accentColor: #e8ca8f;
$blackColor: #333333;
$whiteColor: #faf9f6;

// Sizing
$maxWidth: 1400px;
