// Fonts

// Colors
/*
$mainColor: #8d9683;
$secondaryColor: #f2eae0;
$accentColor: #e8ca8f;
$blackColor: #333333;
$whiteColor: #faf9f6;
*/

$mainColor: #ddb6a1;
$secondaryColor: #f4e2e0;
$accentColor: #e8b9ab;
$blackColor: #403b36;
$whiteColor: #faf9f6;

// Sizing
$maxWidth: 1400px;
