// Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

$fontTitle: 'Playfair Display', serif;
$fontText: 'Montserrat', sans-serif;

// Colors
/*
$mainColor: #8d9683;
$secondaryColor: #f2eae0;
$accentColor: #e8ca8f;
$blackColor: #333333;
$whiteColor: #faf9f6;
*/

$mainColor: #ddb6a1;
$secondaryColor: #f4e2e0;
$accentColor: #e8b9ab;
$blackColor: #403b36;
$whiteColor: #faf9f6;

// Sizing
$maxWidth: 1400px;

$heroImg: '/images/website-images/hero.png';
